body {
    margin: 0;
    font-family: "Source Sans Pro", "Arial", sans-serif;
}

iframe {
    width: 100%;
    height: 100%;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
    background-color: lightgray;
}

.container {
    height: 98vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 46px 1fr;
    grid-template-areas: "header header header header" "main main main sidebar";
    justify-items: stretch;
    justify-content: stretch;
}

.padded {
    padding: 5px;
}

.content>div {
    display: none;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navbar>li {
    float: left;
}

ul.navbar>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar>li>a:hover {
    background-color: #111;
}